.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .ctaButton {
    display: block;
    text-align: center;
    font-weight: 700;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: opacity 0.3s;
    font-size: 1.25rem;
    line-height: 1.5;
  
    span {
      display: block;
      font-size: 0.9rem;
      margin-top: 0.5rem;
      text-decoration: underline;
    }
  
    &:hover {
      opacity: 0.8;
    }
  
    &.primary {
      background-color: #25fde0; // ヒーローセクションと色を合わせる
    }
  
    &.secondary {
      background-color: #fd2551;
      color: #fff;
    }
  }