/* LogoSlider.module.scss */

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    // ロゴリストの半分の距離を移動する
    transform: translateX(-50%);
  }
}

.slider {
  background-color: white;
  padding: .4rem 0;
  overflow: hidden;
}

.track {
  display: flex;
  width: fit-content;
  // ★ アニメーション時間を長くしてスクロール速度を一定に保つ
  animation: infinite-scroll 100s linear infinite;

  // ユーザーが動きを抑制する設定にしている場合はアニメーションを停止
  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.logoItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 1rem; 
}

.logoImage {
  height: 3rem;
  width: auto;
}